# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
.env.*
*.env

# Testing/coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Packaging
build/
dist/
*.egg-info/

# OS/editor
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/

# Misc
.cache/

